body {
	font: 16px/1.2 Helvetica, Arial, sans-serif;
	margin: 0;
	min-width: 320px;
}
h2,
p {
	margin: 0;
}
img {
	border: 1px solid #BDBDBD;
	height: auto;
	width: 100%;
}
.hight-card-section,
.small-card,
.new-card .type,
.new-title-2,
[class^="char"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 30px 8px;
}
.h1 {
	border: 2px solid #4E4E4E;
	margin: 0 auto 30px;
	text-align: center;
	width: 70%;
}
.value {
	float: right;
	text-align: center;
	width: 40%;
}
.title-2 {
	display: none;
}
.small-card-section {
	float: left;
	overflow: hidden;
	position: relative;
	padding-bottom: 50px;
	text-transform: capitalize;
	width: 72%;
}
.hight-card-section {
	left: 73%;
	max-width: 300px;
	padding: 0 5px;
	position: fixed;
	text-transform: capitalize;
	width: 24%;
}
.hight-card-section .title {
	border-bottom: none;
}
.hight-card-section .title .new-title-2 {
	border: 0;
	display: inline;
}
.hight-card-section .title .new-title-2:before {
	content: " #";
}
.small-card {
	border: 2px solid #4E4E4E;
	float: left;
	margin: 0 5% 5% 0;
	padding: 10px;
	width: 30%;
	min-height: 280px;
}
.small-card:nth-child(3n + 1) {
	margin-right: 0;
}
.small-card:hover {
	background: rgba(227, 229, 231, .3);
	cursor: pointer;
}
.new-card {
	border: 2px solid #4E4E4E;
	padding: 8px 8px 15px;
}
.new-card .type {
	border: 1px solid #ABABAB;
	display: inline-block;
	padding: 3px 0;
	text-align: center;
	width: 39%;
}
.title {
	font-size: 19px;
	text-align: center;
}
.title + p {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.new-title-2 {
	border: 1px solid #ABABAB;
	display: inline-block;
	padding: 3px 0;
	text-align: center;
	width: 60%;
}
.new-title-2:nth-child(even) {
	width: 39%;
}
.new-title-2:nth-child(odd) {
	border-right: 0;
}
.more {
	background: #008CFF;
	border: 1px solid #6C757E;
	border-radius: 13px;
	bottom: 0;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	left: 0;
	outline: none;
	padding: 12px 8px;
	position: absolute;
	width: 100%;
}
.more:hover {
	opacity: .9;
}
.char1 {
	background-color: #EE8783;;
}
.char2 {
	background-color: #BD8757;;
}
 .char3 {
	background-color: #4D89BB;
}
 .char4 {
	background-color: #A8B8C5;
}
.char5 {
	background-color: #91B6D4;
}
.char6 {
	background-color: #9C80AA;
}
.char7 {
	background-color: #A3D589;
}
.char8 {
	background-color: #FFDC74;
}
.char9 {
	background-color: #96875B;
}
.char10 {
	background-color: #DD4B39;
}
.char11 {
	background-color: #D9D9D9;
}
.char12 {
	background-color: #CEBE8E;
}
.char13 {
	background-color: #D0D0D0;
}
.char14 {
	background-color: #91B6D4;
}
.char15 {
	background-color: #D9D9D9;
}
.char16 {
	background-color: #4E4E4E;
}
.char17 {
	background-color: #297B2B;
}
.char18 {
	background-color: #58585A;
}
.type {
	width: 100%;
}
.type > [class^="char"] {
	border: 1px solid #999;
	border-radius: 8px;
	display: inline-block;
	font-weight: bold;
	padding: 3px 0;
	text-align: center;
	width: 48%;
}
.new-card [class^="char"] {
	background: transparent;
	border: none;
	font-weight: normal;
	width: 100%;
}

/* MOBILE */
@media only screen and (max-width: 761px) {
	.title {
		font-size: 19px;
	}
	.small-card-section {
		padding-bottom: 70px;
		width: 42%;
	}
	.small-card {
		float: none;
		min-height: inherit;
		width: 100%;
	}
	.hight-card-section {
		left: 45%;
		width: 56%;
	}
	.type > [class^="char"] {
		margin-bottom: 6px;
		width: 100%;
	}
}
